a{
  text-decoration: none;
  color: black;
  padding: 5px;
  font-family: "Prata", serif;
}

.footerNavigation{
  padding: 0px;
}

a:hover{
  background-color: #E85A4F;
  border-radius: 5px;
  color: #EAE7d8;
}

.copyright{
  font-size: small;
  color: #EAE7d8;
}